.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: white;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
}

.gap-15 {
    width: 100%;
    height: 15px;
}

.content_wrap{
    padding: 10px;
}

body{
    background-color: grey;

}

table{
    background-color: lightgrey;
    color: black;
}

th{
    color: darkblue;
}

h1{
    color: black;
    text-align: center;
}
.topnav .login,
.topnav .register{
    float: right;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: black;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: grey;
  color: white;
}

.title_registration{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}

.registration_form {
    background-color: lightgrey;
    color: black;
    width: 35%;
    float: initial;
    padding: 16px;
    margin: 5% 10% 5% 28%;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px 4px black;
}

.username{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=email], input[type=password] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button {
  background-color: #2290ab;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 60%;
}

.button:hover, .ask_btn2 {
  opacity: 0.8;
}

.ask_btn2{
  background-color: #2290ab;
  color: white;
  padding: 16px 20px;
  margin: 10px 0;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.ask_btn1{
  margin: 10px 0;
  width: 50%;
}
.question_title{
    text-align: center;
    font-size: 40px;

}

.Question{
   text-align: center;
   font-size: 40px;
   margin-right: 5%;
}

.question_submission_time{
    text-align: center;
}

.question_message{
  width: 80%;
  margin-top: 4%;
  margin-right: 10%;
  float:right;
  text-align: center;
}

.question_vote_number{
  width: 50px;
  padding-left: 3%;
  font-size: 28px;
  float:left;
}

.display_css .question_comment_css{
    padding:10px;
    margin-left: 10%;
    width: 60%;
}

.question_comment{
    text-align: center;

}

.display_css .comment_delete{
    margin-left: 50%;
}

.comment_submission_time{
    float:left;
    padding:20px;
}

.answer_css{
    width: 50%;
    padding:30px;
    margin-left: 20%;
    text-align: center;
}

.answer_message{
    font-size: 28px;
}

.answer_vote_number{
  width: 20px;
  margin-right: 15%;
  margin-top: -15%;
  float:left;
}

.message{
  padding: 20px;
  font-size: 20px;
}
.new_answer{
  float:left;
  color: black;
  width: 70%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.answer_comment_css{
  float:right;
  margin-left: 10%;
  text-align: center;
  font-size: 14px;
  width: 50%;
}

.answer_css .answer_comment_message{
  float:right;
  text-align: center;
  margin-left: 5%;
  font-size: 14px;
  width: 40%;
}

.display_css{
    width: 60%;
    padding-top: 2%;
    margin-top: 2%;
    background-color: #cccccc;
    margin-left: 20%;

}

.Answer{
   margin-right: 5%;
   color: black;
}