{% extends "layout.html" %}

{% block content %}

    <h1 class="Question">Add new Question</h1>
    <form class="registration_form" action="{{ url_for('add_new_question') }}"
          method=post enctype=multipart/form-data>
        <p>
            <label for="title">Story Title:</label><br>
            <input type="text" name="title" id="title" required minlength="5">
        </p>
        <p>
            <label for="message">message</label><br>
            <textarea name="message" id="message" cols="40" rows="4"></textarea>
        </p>
        <p>
            <input class="ask_btn1" type=file name=image id="image">
            <input class="ask_btn2" type=submit value="ask a question">
        </p>
    </form>

{% endblock %}