<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question {{ id }}</title>
</head>
<body>
<h1>Question {{ id }}</h1>
<form action="/">
        <input type="submit" value="Go back to the main menu" />
        <div class="gap-15"></div><br>
</form>
<table width="100%" border="5">
    <tr align="center">
       <th>ID</th>
        <th>Submission Time</th>
        <th>View Number</th>
        <th>Vote Number</th>
        <th>Title</th>
        <th>Message</th>
        <th>Image</th>
    </tr>
    {% for question in question_by_id %}
    <tr align="center">
        <td>{{ question.id }}</td>
        <td>{{ question.submission_time }}</td>
        <td>{{ question.view_number }}</td>
        <td>
            {{ question.vote_number }}<br>
            <a href = "/question/{{id}}/question/1">Vote Up</a><br>
            <a href = "/question/{{id}}/question/-1">Vote Down</a><br>
        </td>
        <td>{{ question.title }}</td>
        <td>{{ question.message }}</td>
        <td><img src="{{ question.image}}" alt = "Question Picture"width="100" height="100"></td>
    </tr>
    {% endfor %}
</table>



<h1 align="left">Answers: </h1>
<table width="100%" border="5" align="left">
    <tr>
        <th>Submission Time</th>
        <th>Message</th>
        <th>Vote Number</th>
    </tr>
    {% for answer in table_with_answers %}
        {% if answer['question_id']== displayed_table.id %}
            <tr align="center">
                <td>{{ answer['submission_time'] }}</td>
                <td><b>{{ answer['message'] }}</b></td>
                <td>{{ answer['vote_number'] }}<br>
            </tr>
        {% endif %}
    {% endfor %}



</table>
</body>
</html>