{% extends "layout.html" %}

{% block content %}

    <h1>Edit Answer {{ c_id }}</h1>
    <form action="{{ url_for('save_edited_comment', c_id = c_id, comment_by_id = comment_by_id) }}"
          method=post enctype=multipart/form-data>
        {% for comment  in comment_by_id %}
        <p>
            <label for="message">message</label><br>
            <textarea name="message" id="message" cols="40" rows="4">{{ comment.message }}</textarea>
        </p>
        <p>
            <input type=submit value="Edit your comment">
        </p>
        {% endfor %}
    </form>

{% endblock %}