<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application process</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block search_bar %}
    <div class="topnav">
        <a href="{{ url_for('show_five_latest_questions') }}">Home</a>
        <a href="{{ url_for('ask_new_question') }}">Ask New Question</a>
        <form action="/search" method="post">
            <input name="search_phrase" id="message" type="text" placeholder="Search...">
        </form>
        <a href="" class="login">Login</a>
        <a href="" class="register">Register</a>
    </div>


{% endblock %}

{% block content %}
{% endblock %}
</body>
</html>

