<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Mate</title>
</head>
<body>
<h1>Ask Mate</h1>
<h2>Sort Questions</h2>
<br>
<a href="/ask">Ask Question</a>
<br>

<table width="100%" border="5">
    <tr>
        <th>Submission time</th>
        <th>Title(Click to see the details)</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>


    {% for question in questions %}
        <tr align="center">
            <td width="200"><a>{{ question.submission_time }}</a></td>
            <td><a href='/display/{{ question.id }}'>{{ question.title }}</a></td>
            <td><a href='/question/{{ question.id }}/edit'> Edit </a></td>
            <td><a href='/question/{{ question.id }}/delete'>Delete</td>
        </tr>
    {% endfor %}


</table>
</body>
</html>